body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px; /* Reduce padding to make the content smaller */
    width: 400px; /* Reduce container width */
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.png'); 
    background-size: 100% 100%;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.logo {
    width: 80px; /* Reduce logo size */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* Reduce margin below the logo */
}

.quote {
    text-align: center;
    margin-top: 20px; /* Reduce top margin */
}

form h2 {
    margin-bottom: 20px; /* Reduce margin below the title */
    color: #333;
    font-size: 28px; /* Reduce font size */
}

.form-control {
    margin-bottom: 20px; /* Reduce margin between form elements */
}

label {
    display: block;
    margin-bottom: 10px; /* Reduce margin below labels */
    font-weight: bold;
    font-size: 16px; /* Reduce font size of labels */
}

input[type="url"] {
    width:90%;
    padding: 10px; /* Reduce input padding */
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px; /* Reduce font size of input */
}

.icon {
    max-width: 80px; /* Reduce max width of icons */
    height: auto;
    display: block;
    margin: 0 auto;
}
.icon2 {
    max-width: 30px; /* Reduce max width of smaller icons */
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Reduce button padding */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px; /* Reduce button font size */
}

button:hover {
    background-color: #0056b3;
}
